<label
class="block text-900 font-medium text-xl mb-2" for="password">{{label}}</label>
<p-password formControlName="{{controlKey}}" placeholder="{{label}}" styleClass="mb-3" inputStyleClass="w-full p-3 md:w-30rem text-white" feedback="{{feedback}}" [toggleMask]="true">
    <ng-template pTemplate="header">
        <h3>Pick a password</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider/>
        <p class="mt-2">Suggestions</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
        </ul>
    </ng-template>
</p-password>
