<app-nav-and-background>
    <div class="flex align-items-center justify-content-center overflow-hidden"
        style="min-height: 90%;">
        <div class="flex flex-column align-items-center justify-content-center">
            <div
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--indigo-700) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full py-7 px-5 sm:px-8"
                    style="border-radius:53px; background-color: rgba(0, 0, 0, 0.4);">
                    <div class="text-center mb-5">
                        <div
                            class="text-900 text-3xl font-medium mb-3 glowyText">Welcome</div>
                        <span class="text-700 font-medium">Sign up to
                            continue</span>
                    </div>
                    <div>
                        <form [formGroup]="registerForm" (ngSubmit)="SignUp()">
                            <app-input controlKey="email"
                                label="Email"></app-input>
                            <app-input controlKey="username"
                                label="Username"></app-input>
                            <app-password-input controlKey="password"
                                [feedback]="true"></app-password-input>
                            <app-password-input
                                controlKey="passwordConfirmation"
                                label="Password confirmation"></app-password-input>
                            <div
                                class="flex align-items-center justify-content-between mb-5 gap-5">
                                <div class="flex align-items-center">
                                    <app-check-box></app-check-box>
                                </div>
                                <a
                                    class="font-medium no-underline ml-2 text-right cursor-pointer hover:text-cyan-200 transition-all transition-duration-300"
                                    routerLink="/login"
                                    style="color: var(--primary-color)">Sign
                                    in</a>
                            </div>
                            <button type="submit"
                                [disabled]="!registerForm.valid"
                                pButton
                                label="Sign Up"
                                class="w-full p-3 text-xl"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-nav-and-background>
